version: "3.6"

services:
  microproxy:
    build:
      context: .
      dockerfile: Dockerfile
    image: microproxy:latest
    command: [ "microproxy", "-config", "/usr/local/etc/microproxy.toml", "-i" ]
    ports:
      - "3128:3128"
    volumes:
      - ./microproxy-docker.toml:/usr/local/etc/microproxy.toml
